


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
    crossorigin="anonymous"
  />

  <title>ChatApp</title>
</head>
<body>

<div class="join-container" *ngIf="route == 0">
  <header class="join-header">
    <h1>Chat App</h1>
  </header>
  <main class="join-main">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-control">
        <label for="username">Email</label>
        <input
          type="email"
          name="email"
          id="username"
          placeholder="Enter Email"
          formControlName="email"
          required
        >
        <span class="text-muted" *ngIf="checkEmail ==false"> Please enter a valid Email</span>
      </div>


      <button type="submit" class="btn" [disabled]="!loginForm.valid" >Join Chat</button>
    </form>
  </main>
</div>



<div class="chat-container" *ngIf="route == 1">
  <header class="chat-header">
    <h1>ChatApp</h1>

    <p *ngIf="typing[roomNumber].status == 1">{{typing[roomNumber].message}}</p>

    <a class="btn" (click)="leaveRoom()">Sign out</a>
  </header>
  <main class="chat-main">
    <div class="chat-sidebar">
      <h3> Rooms:</h3>
      <h2 id="room-name" *ngFor="let room of userData.rooms;let i = index;">
       <div *ngIf="room.room != null">
        {{room.room}}
        <a class=btn *ngIf="room.status == 0" (click)="joinRoom(i)" style="float: right"> join</a>
        <a class=btn *ngIf="room.status == 1" (click)="changeRoom(i)" style="float: right"
           [ngStyle]="{'background-color':style[i] === 1 ? '#5cb85c' : 'white','color':style[i]==1 ? 'white': '#667aff'}"> View Chat</a>
        <p *ngIf="notifications[i] == 1" style="color: #5cb85c">new messages</p>
       </div>
      </h2>
      <div *ngIf="show == 1" style="margin-left: 30px" >
        <p style="font-weight: bold">This Room Expries in </p>  <countdown [config]="{leftTime: timer[roomNumber]}" style="margin-left: 40px"></countdown>
      </div>

    </div>
    <div class="chat-messages" id="chat-messages">
<!--      <div *ngIf="show == 1" style="position: fixed;background: #d9534f;" class="message" >-->
<!--        <p class="meta">Room Expries in </p>  <countdown [config]="{leftTime: timer[roomNumber]}"></countdown>-->
<!--      </div>-->
      <div class="message" *ngFor="let message of messageArray;let i =index;">
       <div *ngIf="message.username!='bot'">
        <p class="meta">{{message.username}} <span>{{message.date}}</span></p>
        <p class="text">
          {{message.text}}
        </p>
       </div>
        <div *ngIf="message.username =='bot'">
          <p style="text-align: center;color: #5cb85c;font-size: 14px;">{{message.text}}</p>
        </div>
      </div>
<!--      <p *ngIf="typing[roomNumber].status == 1">{{typing[roomNumber].message}}</p>-->

    </div>
  </main>
  <div class="chat-form-container">
    <div id="chat-form">
      <input
        id="msg"
        type="text"
        placeholder="Enter Message"
        required
        autocomplete="off"
        [(ngModel)]="message"
        (keyup)="keyPress()" (keyup.enter)="sendMessage()"
      />
      <button class="btn"    (click)="sendMessage()"><i class="fas fa-paper-plane"></i> Send</button>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
  integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
  crossorigin="anonymous"
></script>

</body>
</html>
